[user]
	email = harry@h313.info
	name = Haoda Wang
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[pull]
	rebase = false
[diff]
	tool = nvimdiff
	guitool = bc
[difftool]
	prompt = true
[merge]
	tool = nvimdiff2
	guitool = bc
[mergetool]
	keepBackup = false
	prompt = false
[color]
	ui = auto
