* {
    border: none;
    border-radius: 0;
    font-family: InconsolataLGC Nerd Font, Droid Sans Mono, monospace;
    font-size: 14px;
    min-height: 30px;
}

window#waybar {
    background: rgba(40, 40, 40, 0.75);
    border-bottom: 3px solid rgba(177, 98, 134, 0.75);
    color: #ebdbb2;
}

window#waybar.hidded {
    opacity: 0.333;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ebdbb2;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #a89984;
    border-bottom: 3px solid #ffffff;
    color: #282828;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#mode {
    background: #fb4934;
    border-bottom: 3px solid #a89984;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-cmus, #tray, #mode, #idle_inhibitor, #custom-ibus {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    background-color: #b8bb26;
    color: #282828;
}

#battery {
    background-color: #a89984;
    color: #282828;
}

#battery.charging {
    color: #282828;
    background-color: #8ec07c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #fb4934;
    color: #282828;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    background: #9b59b6;
}

#backlight {
    background: #90b1b1;
}

#network {
    background: #458588;
}

#network.disconnected {
    background: #cc241d;
}

#pulseaudio {
    background: #d79921;
    color: #282828;
}

#pulseaudio.muted {
    background: #b16286;
    color: #ebdbb2;
}

#custom-media {
    background: #66cc99;
    color: #2a5c45;
}

#custom-cmus {
    background: #504945;
}

#custom-ibus {
    background: #689d6a;
}

.custom-vlc {
    background: #ffa000;
}

#temperature {
    background: #f0932b;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
