window {
background-color: #282828;
}

#input {
background-color: #282828;
color: #8ec07c;
border-color: #ebdbb2;
}

#inner-box {
background-color: #282828;
}

#outer-box {
background-color: #282828;
}

#scroll {
background-color: #282828;
}

#text {
color: #ebdbb2;
}
